.app-container {
    padding: 0 32px;
}
.app-heading {
    text-align: center;
    margin-bottom: 24px;
    color: #FFA300;
    font-size: 24px;
}

.app-footer {
    display: flex;
    margin-top: 48px;
}

.app-footer-text {
    flex-grow: 1;
}

.app-footer-text-heading {
    color: #FFA400;
    font-size: 20px;
}

.app-footer-text-content {
    color: #707070;
    font-size: 16px;
}

.app-footer-text-footer {
    color: #6E6E6E;
    font-size: 16px;
}

